%p#notice= notice

%p
  %b Title:
  = @idea.title
%p
  %b Description:
  = @idea.description

= link_to 'Edit', edit_idea_path(@idea)
\|
= link_to 'Delete', idea_path(@idea), method: :delete, data: { confirm: 'Are you sure?' }
